$color-purple1        :  #1a0013;
$color-purple2		  :  #66004b;
$color-white		  :  #ffffff;
$color-blue			  :  #00ace6;
$color-orange		  :  #ff3300;
// Font
@import url('https://fonts.googleapis.com/css?family=Cabin:400,400i,500,500i,600,600i,700,700i|PT+Sans:400,400i,700,700i');

$font-primary 			    : 'Cabin', sans-serif;
$font-secondary			    : 'PT Sans', sans-serif;
$font-protify				: 'Pacifico', cursive;
$font-title 				: 'Dancing Script', cursive;